@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
}

.container {
  padding: 0 50px;
  min-height: 50vh;
  margin: auto;
}

body {
  margin: 0 auto;
  min-height: 100vh;
}

.main-layout {
  display: flex;
}
